<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://static-00.iconduck.com/assets.00/spring-icon-2048x2045-yufnoc34.png" sizes="180x180">
    <link rel="icon" href="https://static-00.iconduck.com/assets.00/spring-icon-2048x2045-yufnoc34.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://static-00.iconduck.com/assets.00/spring-icon-2048x2045-yufnoc34.png" sizes="16x16" type="image/png">
    <link rel="icon" href="https://static-00.iconduck.com/assets.00/spring-icon-2048x2045-yufnoc34.png">
    <meta name="theme-color" content="#7952b3">

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="nav-item text-white px-3">
        <span class="font-weight-bold" id="spanUsername">Username</span>
        <span>with roles:</span>
        <span id="spanRoles">
            Roles
        </span>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid bg-light h-100">

    <!--Sidebar-->
    <div class="row">
        <div class="col-md-2 px-0">
            <div class="d-flex flex-column flex-shrink-0 p-0 text-white bg-white mt-3" style="height: 150vh">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/admin" data-bs-toggle="pill" class="nav-link active no-refresh" role="tab"
                           aria-current="true">
                            Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" data-bs-toggle="pill" class="nav-link no-refresh" role="tab"
                           aria-current="false">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--        Admin panel-->
        <div class="col-md-10 mt-3">
            <div class="px-3">
                <h1>Admin panel</h1>
                <!--                Navigation-->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#table" data-toggle="tab" id="table-tab" role="tab"
                           aria-controls="table" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newUser" data-toggle="tab" id="newUser-tab" role="tab"
                           aria-controls="newUser" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!--User table-->
                    <div class="tab-pane show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                        <div class="container-fluid px-0 bg-light border t">
                            <h5 class="card-header">
                                All users</h5>
                        </div>
                        <div class="px-3 border t">
                            <table class="table table-striped mt-3">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--                    Add new user-->
                    <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                        <div class="container-fluid px-0 bg-light">
                            <h5 class="card-header">
                                Add new user</h5>
                        </div>
                        <div class="px-3 border t bg-white">
                            <form class="text-center col-4 mx-auto" id="formNewUser" novalidate>
                                <br>
                                <label for="nameNew" class="font-weight-bold mb-0">First name</label>
                                <br>
                                <input type="text" placeholder="First name" id="nameNew" class="form-control nameUser" minlength="2" maxlength="100" required/>
                                <span hidden="hidden" class="invalidName" style="color: darkred"></span>
                                <br>

                                <label for="lastnameNew" class="font-weight-bold mb-0">Last name</label>
                                <br>
                                <input type="text" placeholder="Last name" id="lastnameNew" class="form-control lastnameUser" minlength="2" maxlength="150" required/>
                                <span hidden="hidden" class="invalidLastname" style="color: darkred"></span>
                                <br>

                                <label for="ageNew" class="font-weight-bold mb-0">Age</label>
                                <br>
                                <input type="number" placeholder="Age" id="ageNew" class="form-control ageUser" min="1" max="150" required/>
                                <span hidden="hidden" class="invalidAge" style="color: darkred"></span>
                                <br>

                                <label for="usernameNew" class="font-weight-bold mb-0">Username</label>
                                <br>
                                <input type="text" placeholder="Username" id="usernameNew" class="form-control usernameUser" minlength="2" maxlength="100" required/>
                                <span hidden="hidden" class="invalidUsername" style="color: darkred"></span>
                                <br>

                                <label for="passwordNew" class="font-weight-bold mb-0">Password</label>
                                <br>
                                <input type="password" placeholder="Password" id="passwordNew" class="form-control passwordUser" minlength="4" required/>
                                <span hidden="hidden" class="invalidPassword" style="color: darkred"></span>
                                <br>

                                <label for="rolesNew" class="font-weight-bold mb-0">Role</label>
                                <br>
                                <select id="rolesNew" class="custom-select form-control col-12 rolesUser" size="2" multiple
                                        aria-label="multiple select example" required>
                                    <option value="ADMIN">ADMIN</option>
                                    &nbsp
                                    <option value="USER">USER</option>
                                </select>
                                <span hidden="hidden" class="invalidRoles" style="color: darkred"></span>
                                <br>
                                <input type="submit" id="newUserSubmit" class="btn btn-success mt-3 mb-3" value="Add new user"/>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal Edit-->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="formEdit">
                <div class="modal-body text-center col-6 mx-auto">
                    <label for="idEdit" class="font-weight-bold mb-0">ID</label>
                    <br>
                    <input type="text" id="idEdit" readonly
                           class="form-control idUser"/>
                    <br>

                    <label for="nameEdit" class="font-weight-bold mb-0">First
                        name</label>
                    <br>
                    <input type="text" id="nameEdit"
                           class="form-control nameUser" minlength="2" maxlength="100" required/>
                    <span hidden="hidden" class="invalidName" style="color: darkred"></span>
                    <br>

                    <label for="lastnameEdit" class="font-weight-bold mb-0">Last
                        name</label>
                    <br>
                    <input type="text"
                           id="lastnameEdit" class="form-control lastnameUser" minlength="2" maxlength="150" required/>
                    <span hidden="hidden" class="invalidLastname" style="color: darkred"></span>
                    <br>

                    <label for="ageEdit" class="font-weight-bold mb-0">Age</label>
                    <br>
                    <input type="number" id="ageEdit"
                           class="form-control ageUser" min="1" max="150" required/>
                    <span hidden="hidden" class="invalidAge" style="color: darkred"></span>
                    <br>

                    <label for="usernameEdit" class="font-weight-bold mb-0">Username</label>
                    <br>
                    <input type="text" id="usernameEdit"
                           class="form-control usernameUser" minlength="2" maxlength="100" required/>
                    <span hidden="hidden" class="invalidUsername" style="color: darkred"></span>
                    <br>

                    <label for="passwordEdit"
                           class="font-weight-bold mb-0">Password</label>
                    <br>
                    <input type="password"
                           id="passwordEdit" class="form-control passwordUser" minlength="4" required/>
                    <span hidden="hidden" class="invalidPassword" style="color: darkred"></span>
                    <br>

                    <label for="rolesEdit"
                           class="font-weight-bold mb-0">Roles</label>
                    <br>
                    <select id="rolesEdit" class="custom-select form-control col-12 rolesUser" size="2"
                            multiple aria-label="multiple select example rolesUser" required>
                        <option value="ADMIN">ADMIN</option>
                        &nbsp
                        <option value="USER">USER</option>
                    </select>
                    <span hidden="hidden" class="invalidRoles" style="color: darkred"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <input type="submit" class="btn btn-primary" id="editSubmit" value="Edit"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="formDelete">
                <div class="modal-body text-center col-6 mx-auto">
                    <label for="idDelete" class="font-weight-bold mb-0">ID</label>
                    <br>
                    <input type="text" id="idDelete" readonly class="form-control idUser"/>
                    <br>

                    <label for="nameDelete" class="font-weight-bold mb-0">First
                        name</label>
                    <br>
                    <input type="text" id="nameDelete" readonly class="form-control nameUser"/>
                    <br>

                    <label for="lastnameDelete" class="font-weight-bold mb-0">Last
                        name</label>
                    <br>
                    <input type="text" id="lastnameDelete" readonly class="form-control lastnameUser"/>
                    <br>

                    <label for="ageDelete"
                           class="font-weight-bold mb-0">Age</label>
                    <br>
                    <input type="number" id="ageDelete" readonly class="form-control ageUser"/>
                    <br>

                    <label for="usernameDelete" class="font-weight-bold mb-0">Username</label>
                    <br>
                    <input type="text" id="usernameDelete" readonly class="form-control usernameUser"/>
                    <br>

                    <label for="passwordDelete" class="font-weight-bold mb-0">Password</label>
                    <br>
                    <input type="password" id="passwordDelete" readonly class="form-control passwordUser"/>
                    <br>

                    <label for="rolesDelete"
                           class="font-weight-bold mb-0">Roles</label>
                    <br>
                    <select id="rolesDelete" class="custom-select form-control col-12 rolesUser" size="2"
                            multiple aria-label="multiple select example"
                            disabled>
                        <option value="ADMIN">ADMIN</option>
                        &nbsp
                        <option value="USER">USER</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <input type="submit" class="btn btn-danger" id="deleteSubmit" value="Delete"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
<script src="/js/allUsers.js"></script>
</body>
</html>